.wrapper {
    margin: 0 auto;
    width: 800px;
}

fieldset {
    position: relative;
    margin: 10px 0;
}
label, textarea, i{
    display: block;
}
fieldset p, legend {
    font-weight: bold;
}
fieldset p i{
    font-weight: normal;
}
input {
    margin-bottom: 6px;
}
input[placeholder]{
    width: 190px;
}
textarea {
    margin-bottom: 10px;
    max-width: 760px;
}

.inline {
    display: inline;
}
