table{
    margin: 0 auto 20px;
}
td,th{
    padding: 4px;
    margin: 1px;
    border: 1px solid grey;
}
#tblOne{
    width: 100%;
    border: 1px solid grey;
}
#tblTwo{
    width: 60%;
    border: 1px solid grey;
}
#tblThree{
    width: 60%;
    border: 2px solid grey;
    border-spacing: 0;
    /*border-collapse: collapse;*/

}

#tblThree td{
    vertical-align: top;
}
#tblThree th{
    text-align: left;
 }
